@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

$gold: #e9a015;

.darkMode-container{
text-align: center;
font-size: 0.8rem;
font-family: 'Oswald', sans-serif;
font-weight: 500;
letter-spacing: 1px;

.icons{
  width: 50px;
  display: flex;
justify-content: space-between;
margin: 10px auto auto;

img{
width: 22px;
}
}

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-top: 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background: #f2f2f2;
    box-shadow: inset 7px 7px 11px #c2c1c1,
                inset -7px -7px 11px #ffffff;
    -webkit-transition: translateX .4s;
    transition: translateX .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  input:checked + .slider {
    //background-color: $gold;
    background-image: linear-gradient(to top, #f048b2 0%, #8841e6 100%);
    box-shadow: none;
    //background-image: linear-gradient(45deg, #db940e 0%, #eb1a1a 100%);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px linear-gradient(to top, #cc208e 0%, #6713d2 100%);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
}
